.profile-about-right-side{
    width: 30%;
    display: flex;
    margin-bottom: 10px;
}

.profile-about-current-position-logo{
    margin-right: 10px;
}

.profile-about-current-position-logo img{
    border-radius: 50%;
}

.profile-about-current-position-name{
    align-items: center;
}

#currentpositionname{
    font-size: 18px;
    min-width: 150px;
}