.customized-button {
  background-color: white;
  padding: 7px 16px;
  text-align: center;
  border-radius: 20px;
  font-size: 15px;
  border: 1px solid #666666;
  color: #666666;
  cursor: pointer;
}

#exp-add-button:hover,
#educ-add-button:hover,
#basic-edit-button:hover,
#connect-btn:hover {
  background-color: #8067b7;
  color: white;
  border: 1px solid white;
}

#exp-delete-button:hover,
#educ-delete-button:hover {
  background-color: rgb(184, 0, 0);
  color: white;
  border: 1px solid white;
}
