.right-side-card{
    background-color: white
}

.button-wrap{
    padding-right: 5px;
}

.url-wrap{
    padding: 0 5px;
}

.button-wrap ul{
    font-size: 18px;
    align-items: center;
}

.button-wrap ul svg{
    color: #666666;
}

.button-wrap ul, .url-wrap ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.url-wrap ul, .url-wrap ul li a{
    margin-top: 20px;
    font-size: 18px;
    color: #666666;
    text-decoration: none;
}

.selected .button #customized-button{
    background-color: #0A66C2;
    color: white;
    border: 1px solid white;
}