/* left side */

.profile-about-left-side {
  max-width: 50%;
}

.profile-cover-photo img {
  object-fit: cover;
  border-radius: 7px 7px 0 0;
  height: 196px;
  width: 780px;
  cursor: pointer;
}

.profile-profile-photo {
  position: relative;
}

.profile-profile-photo img {
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: -100px;
  cursor: pointer;
}

.profile-name-and-about {
  margin: 20px 23px 10px 23px;
  display: flex;
  justify-content: space-between;
}

.profile-name-and-about #name {
  font-size: 27px;
}

.profile-name-and-about #title {
  color: grey;
  font-size: 22px;
}

.profile-name-and-about #location {
  color: grey;
  font-size: 18px;
}

.profile-edit-button {
  margin: 18px 23px 0px 23px;
  display: flex;
  justify-content: right;
}

.profile-edit-button svg {
  font-size: 25px;
  cursor: pointer;
}

.profile-edit-button svg:hover {
  background-color: #8067b7;
  color: white;
  border-radius: 50%;
}

/* left side */

/* right side */

.profile-all-position {
  min-width: 200px;
  margin-left: 0px;
}
/* right side */

/* loading */
.basic-loading {
  background-color: green !important;
}
/* loading */
