/* input */

.input-container input {
  width: 300px;
  height: 35px;
  background-color: #eef3f8;
  border: none;
  border-radius: 4px;
  padding-left: 50px;
}

/* for message */

.message-card div .input-container input {
  width: 300px;
  height: 35px;
  background-color: #eef3f8;
  border: none;
  border-radius: 4px;
  padding-left: 50px;
  margin: 8px 12px;
}

.message-card div .input-container svg {
  color: #666666;
  position: absolute;
  top: 13px;
  left: 35px;
}

/* input */

/* icons */

.input-container {
  align-items: center;
  position: relative;
}

.input-container svg {
  color: #666666;
  font-size: 20px;
  position: absolute;
  top: 7px;
  left: 20px;
}

/* icons */
