.educ-detail-wrap {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  margin: 30px 0px 10px 11px;
  display: flex;
  justify-content: space-between;
}

.educ-detail-contents {
  display: flex;
  justify-content: flex-start;
}

#logo {
  border-radius: 50%;
}

.educ-info {
  margin-left: 10px;
}

#educ-name {
  font-size: 20px;
}

#educ-major {
  margin-top: 3px;
  font-size: 18px;
  color: rgb(92, 92, 92);
}

#educ-duration {
  margin-top: 3px;
  font-size: 16px;
  color: grey;
}

/* options */

/* .educ-options {
  background-color: red;
  padding-right: 0px;
} */

.educ-options svg {
  font-size: 34px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  color: #666666;
}

.educ-options svg:hover {
  background-color: #8067b7;
  color: white;
}

/* options */
