.message-card{
    background-color: white;
}

.message-card-logo-title{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}

.message-card-head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 36px;
    position: relative;
}

.message-card-head #logo-itself{
    margin: 0 8px 0 0;
    position: relative;
        top: 2px;
}

.message-card-head #logo-itself img{
    border-radius: 50%;
}

.message-card-head #title-itself{
    font-size: 18px;
    color: #191919;
    margin-right: 8px; 
}

.message-card-add-button{
    display: flex;
    align-items: center;
}

.message-card .input-container input{
    padding-left: 35px;
    max-width: 256px;
}

.message-card .input-container svg{
    position: absolute;
        left: 10px
}