.exp-detail-wrap {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  margin: 30px 0px 10px 11px;
  display: flex;
  justify-content: space-between;
}

.exp-detail-contents {
  display: flex;
  justify-content: flex-start;
}

#logo {
  border-radius: 50%;
}

.exp-info {
  margin-left: 10px;
}

#exp-title {
  font-size: 20px;
  margin-bottom: 5px;
}

#exp-name-and-position {
  margin-bottom: 3px;
  color: rgb(92, 92, 92);
  font-size: 16px;
}

#exp-duration {
  margin-bottom: 3px;
  font-size: 16px;
  color: rgb(92, 92, 92);
}

#exp-location {
  margin-bottom: 15px;
  font-size: 16px;
  color: rgb(92, 92, 92);
}

#exp-description {
  font-size: 17px;
}

/* options */

/* .exp-options {
  background-color: red;
  padding-right: 0px;
} */

.exp-options svg {
  font-size: 34px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  color: #666666;
}

.exp-options svg:hover {
  background-color: #8067b7;
  color: white;
}

/* options */
