.menu-icon-link{
    margin-left: 20px;
}

.menu-icon-link .icon-menu-circle{
    display: flex;
    justify-content: center;
}

.menu-icon-link .icon-menu-circle svg{
}

.menu-icon-link .menu-container{
    display: flex;
    justify-content: space-between;
    height: 15px;
    position: relative;
        top: 4px;
}

.menu-container #menu-title-itself{

}

.menu-container #icon-itself{
    padding: 0;
    position: relative;
}

.menu-container #icon-itself svg{
    position: relative;
        bottom: 10px;
        width: 17px;
}