/* Modal */

/* Exp & Educ */

.modal-body,
.modal-footer {
  font-size: 20px;
}

.modal-head,
.modal-footer {
  height: 60px;
  padding: 0 20px;
  font-size: 22px;
}

.modal-head svg {
  cursor: pointer;
  border-radius: 50%;
}

.modal-head svg:hover {
  background-color: #e1e1e1;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.modal-body {
  padding: 10px 20px;
}

.modal-body input,
.modal-body .gender-select {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  outline: none;
  height: 35px;
  margin: 10px 0;
  padding-left: 20px;
  border-radius: 4px;
}

.modal-body .modal-body-contents .duration-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body .modal-body-contents .duration-class div label {
  font-size: smaller;
  font-weight: lighter;
}

.modal-body .modal-body-contents textarea {
  margin-top: 10px;
  max-width: 658px;
  max-height: 440px;
}

.modal-body .modal-body-contents label {
  font-size: smaller;
  color: gray;
}

.modal-body .modal-body-contents textarea {
  max-height: 300px;
}

.modal-body input.duration {
  width: 100%;
}

.modal-body input.duration.checkbox {
  height: 15px;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: right;
  align-items: center;
  /* border-top: 1px solid #e1e1e1; */
}

/* Exp & Educ */

/* Modal */
