.single-message-card{
    margin: 10px 0 10px 8px;
    display: flex;
    justify-content: flex-start;
}

.single-message-card-avatar{
    display: flex;
    align-items: center;

}

.single-message-card-info{
    margin: 0 8px;
}

.single-message-card-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-message-card-name #name{
    font-size: 18px;
    color: #686868;
    font-weight: lighter;
}

.single-message-card-name #date{
    font-size: 14px;
    color: #919191;
    font-weight: lighter;
}

.single-message-card-info .single-message-card-text{
    color: #919191;
    padding-right: 50px;
    min-height: 36px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
    border-bottom: 1px solid #e1e1e1;
}